azul = #22BCE0
gris_oscuro = #444
gris_texto = #7A7A7A
naranja = #DD4F24

@font-face {
	font-family: 'iconitos';	
	src:url('../fonts/icomoon.ttf') format('truetype');	
}
@font-face {
    font-family: titulslide;
    src: url('../fonts/GreatVibes-Regular.ttf');    
}
@font-face {
    font-family: titulmenu;
    src: url('../fonts/Polo Brush.ttf');    
}
@font-face {
    font-family: subtitulslide;
    src: url('../fonts/Adventure.ttf');    
}

textarea
	resize none

.navbar-inverse
	background-color gris_oscuro !important

	a
		background-color transparent !important	
		color white !important

.dropdown
	font-family subtitulslide
	font-size 20px

.dropdown-menu
	a
		color gray !important	
		font-family subtitulslide


body
	background-color #E8E8E8 !important	
	color gris_oscuro !important
	font-size 16px !important
	margin 0
	padding 0

header
	background gris_oscuro
	box-shadow 0 5px 0 rgba(0,0,0,0.2)
	color white	!important

nav 
	img		
		height 100px
	h1
		font-family titulslide		
.blogmunu
	li
		a
			margin 0 !important
			padding 0 !important	
	h1
		margin-left 25%

.usuariomenu		
	.dropdown		
		margin-top 50px	


/*Post*/


.posts
	padding 0.5em	

	.post 
		background white
		border-radius 0 0 0.5em 0.5em
		box-shadow 2px 2px 10px rgba(black, 0.5)
		color gris_texto
		margin-bottom 1em

		.acciones
			border-top 3px solid azul
			padding 0.5em
			overflow hidden

			.datos
				float right

				.comentarios
					background gris_oscuro
					border-radius 3px
					color white
					margin 0 1em 0 0
					padding 2px 5px
					text-decoration none

				.estrellita
					text-decoration none

					&:after
						font-family "iconitos"
						color #E0D561
						content "\e601"

				.estrellitaroja	
					text-decoration none
					cursor no-drop				

					&:after
						font-family "iconitos"
						color gris_oscuro
						content "\e601"	

			.votos
				float left

				.down
				.up
					text-decoration none

				.down
					color red

					&:before
						font-family "iconitos"
						font-size 1.5em
						content "\e602"
						vertical-align bottom

				.up
					color green
					&:before
						font-family "iconitos"
						font-size 1.5em
						content "\e603"
						vertical-align bottom

		.descripcion
			color gris_texto
			
			.detalles
				height 160px
				margin-left 130px

				.autor
					margin 0.5em 0 2em 0

				.fecha
					float right
					margin 0 1em 0 0

				.tag
					background azul
					border-radius 0.5em
					color white
					padding 0.2em 0.5em
					text-decoration none

				.titulo
					a
						color naranja
						font-size 0.8em
						font-style italic
						margin 0
						padding 0.5em 0.5em 0 0	
						text-transform capitalize					


			.imagen
				float left

				img
					height 160px
					vertical-align top
					width 120px		
		



footer
	background naranja
	color rgba(white,0.5)
	padding 1em 0
	text-align center
	width 100%

	h3
		font-size 14px
		font-weight normal

		strong
			display block

		.mejor
			&:before
			&:after
				content " - "


/*ARTICULOS*/

.articulo
	background url('../img/ramas.png')
	background-position center
	background-repeat no-repeat
	background-size 100%
	height 40em
	width 100%

	label
		color naranja

.showarticulo
	.titul
		border-bottom 3px solid azul
		color azul
		font-family titulmenu	
		font-size 2.5em
		margin-bottom 2em	
		text-align center
		text-transform uppercase

	.descripcion
		color naranja
		font-size 1.5em
		text-align justify	

	.divider
		border-top 3px solid azul
		margin 2em 0em

	.comentarios
		form
			label
				font-size 1.3em
				font-family subtitulslide
			textarea 
				height 100px
				transition 0.5s all ease 
				&:focus
					height 150px
						


		h3
			font-size 1em
			font-weight bold	
			width 100%
			
			&:after
				content " ----------------------------------------------------- "
		h4
			margin 0px 0px 5px 0px
			padding 0	
		.comentario
			border-bottom 3px solid gris_oscuro	
			margin-bottom 20px

	.noregister
		background #ffc
		border 2px dashed #dede88
		color gris_texto
		padding 12px
		text-align center		
		
/*PERFIL*/

.perfil	
	#info
		margin 1em
	h2
		margin 0
		padding 0
	p
		padding 0
		margin 0
	.nombre
		text-transform capitalize

	.actualizarinfo
		margin 1em

		.alert
			text-align center

		form
			margin-top 1em
			
					


/*responsive*/

@media screen and (min-width: 768px)	
	.blogmunu		
		h1
			margin-left 4em
			text-align center

	.usuariomenu
		a
			&:hover
				color azul !important		

	.posts 
		.post
			display inline-block !important
			vertical-align top
			width 48%
			&:nth-child(odd)
				margin-right 2%			

