cafe = rgba(66,41,24, 0.9)

@font-face {
    font-family: titulslide;
    src: url('../fonts/GreatVibes-Regular.ttf');    
}
@font-face {
    font-family: titulmenu;
    src: url('../fonts/Polo Brush.ttf');    
}
@font-face {
    font-family: subtitulslide;
    src: url('../fonts/Adventure.ttf');    
}

body
  margin 0
  padding 0

.sliderImg
  height 600px
  width 100%

.titulSlider
  h2
    color #324E9C
    font-family "Brush Script MT"
    font-size 2em
    margin 0 auto
    padding 15px
    position absolute
    text-align right
    top 0
    width 100%
    background -webkit-gradient(linear, 80% 20%, 10% 21%, from(rgba(255,255,255,0.1)), to(rgba(255,255,255,0.2)))
    background -moz-gradient(linear, 80% 20%, 10% 21%, from(rgba(255,255,255,0.1)), to(rgba(255,255,255,0.2)))

.logo
  img
    height 100px
    padding-left 20px
    position absolute
    top 0

.titulSlideimg
  color #fff
  font-family titulslide
  position absolute
  right 0
  text-align center
  top 65%
  width 100%
  background -webkit-gradient(linear, 80% 20%, 10% 21%, from(rgba(0,0,0,0.3)), to(rgba(255,255,255,0.4)))
  background -moz-gradient(linear, 80% 20%, 10% 21%, from(rgba(255,255,255,0.3)), to(rgba(255,255,255,0.4)))
  h2
    font-size 30pt

.degra
  background -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(58,169,53,0.7)), color-stop(39%, rgba(249,178,51, 0.7)), color-stop(54%, rgba(98,78,66, 0.6)), color-stop(100%,rgba(66,41,24, 0.9)))
  background -moz-gradient(linear, left top, right top, color-stop(0%,#9dd53a), color-stop(39%,#e8ef5b), color-stop(54%,#80c217), color-stop(100%,#5e3c05))
  padding-bottom 1px

.navbar
  border 0px solid transparent !important

.navbar-default
  background-color transparent !important
  border-color transparent !important

.navbar-nav
  margin 0px !important 
  float none !important

.navbar-nav
  .open
    a
      background-color transparent !important    

/*.col-md-2, .col-md-6, .col-md-7, .col-md-3
  padding 0 !important*/

.menumain 
  margin 0
  padding 0

  .navbar-collapse
    margin 0
    padding 0  

  ul
    margin 0
    padding 0

    li
      position relative
      a 
        color white !important
        font-family titulmenu
        font-size 2.5em
        padding 20px 0px
        text-align center
        text-decoration none
        text-transform uppercase

        &:hover
          color cafe !important

  .nica    
    img
      height 100px  
      position absolute  
      right 20px       
      top 0   
      z-index 4 

        
.nica
    background #AE3E17

.about
  background #EBC011

.explo
  background #55923B

.plani
  background #0e527D

.len
  background #CD5c1c

.degrawhite
  background rgba(255,255,255, 0.3)

.degraamarillo
  background rgba(194, 211, 65, 0.4)

.blue
  background transparent

.slidercenter
  span
    color white
    font-family titulslide
    font-size 3em !important
    position absolute
    text-align center
    top 74%
    width 80%
    z-index 999999
  img
    width 100%

.row
  margin 0 !important

.infoiz
  padding 10px
  height 100%
  h2
    border-bottom 2px solid gray
    font-family titulslide
    font-size 3em
    text-align center
  div
    margin 5px
  iframe
    margin-top 20px
    width 100%

.ruben
  h2
    font-family titulslide
    font-size 3em
  p
    text-align justify

.centermod
  padding 0 !important
  margin 0 !important
  .col-md-3
    margin 0
    padding 0

.anuncios
  padding 0
  margin 0
  h2
    color white
    font-family titulslide
    font-size 2.53em
    text-align center
  .col-xs-3, .col-md-7
    margin 0
    padding 0  

.anunciostitul
  background rgba(111,136,102, 0.7)
  padding 16px

.cuadrado, .cuadradoinfo
  height 100px
  width 100%
  margin 0
  padding 0
  position relative

.cuadradoinfo
  background gray
  margin-top 10px

.cuadrado
  a   
    bottom 0   
    color white
    font-family titulslide
    font-size 1.5em
    left 0
    padding 70px 40px 0px 6px
    position absolute
    text-align center
    text-decoration none !important
    &:hover
      color cafe !important

.infocenter
  iframe
    height 400px
    width 100%
  h2
    border-bottom 2px solid gray
    font-family titulslide
    font-size 2.5em
    text-align center
    width 70%
    margin 0 auto
    padding 20px
  p
    font-size 1.5em
    text-align center

.clima
  overflow  hidden
  img
    margin-top 20px
    width 100%

.infoserver
  h2
    font-size 2.1em

.calendario
  img
    width 100%
    height 360px

#panelResultados
  margin 0 auto
  width 20%

footer
  background rgba(111,136,102, 0.7)
  color white
  font-size 2em
  font-weight bold
  height 4em
  text-align center



  /*  DEPARTAMENTOS */

.sliderdepto
  .titulSlider
    h2
      text-align center
  .logo
    img
      top 28px
      padding 0

.infodep
  .centermod
    .col-md-9 
      margin 0
      padding 0
    .infocenter
      padding 0px 20px
    .titul
      text-align center
      font-family titulslide
      border-bottom 2px solid gray 
    p
      text-align justify       

 


/*  RESPONSIVE*/
@media screen and (min-width: 768px)  
  .titulSlider
    h2
      font-size 2.5em
      text-align center

  .logo
    img 
      height 10em  

  .menumain 
    ul 
      li 
        a
          font-size 1.5em  
          padding 20px 13px 

      .dropdown
        ul
          margin 0
          padding 0
        .dropdown-menu  
          border 0px transparent !important
          width 100px
          left 69px
          background-color rgba(235, 192, 17, 0.5)

          li 
            a
              padding 10px 13px  
              font-size 1em

              &:hover
                color green !important

    .nica
      img
        height 80px 
        top 15px
        right -28px 
  
  .cuadrado
    a
      font-size 2.5em
      text-align center


  /* DEPARTAMENTO*/
  .sliderdepto
    .titulSlider
      h2
        text-align center
        top 60px
    .logo
      img
        top 70px
        padding 0 
    .titulSlideimg    
      top 70%

   /* #segundomenu 
      position fixed
      top 0
      right 0
      height 30px
      width 30px
      z-index 999999
      .navsecond
        margin-top 50px
        display none
        position relative
        float right  
      #mobile-menu-button 
        cursor pointer
        display block
        width 4em
        height 4em
        position absolute
        top 0
        right .1em 
        a 
          margin 1em
          display block
          position relative   

          &:before
            content ""
            position absolute
            left 0
            top 0.25em
            width 2em
            height 0.35em
            background #3a693f
            box-shadow 0 0.6em 0 0 #3a693f, 0 1.2em 0 0 #3a693f

          &:before
            background #7bb640
            box-shadow 0 0.6em 0 0 #7bb640, 0 1.2em 0 0 #7bb640 */

@media (min-width: 1020px)  
  .titulSlideimg
    width 40%   

  .menumain 
    ul 
      li 
        a
          font-size 2em  
          padding 20px 17px 

      .dropdown
        .dropdown-menu          
          width 77%                
                   
  .centermod        
    .anuncios
      padding 0
      margin 0 

      .col-md-7, .col-md-5
        margin 0
        padding 0  

  .cuadrado
    a
      font-size 1.7em 

  .informacion
    .col-md-3
      margin 0
      padding 0



@media (min-width: 1200px) 
  .titulSlider
    h2
      font-size 3em
      text-align center 

  .logo
    img 
      height 12em      
          
   .menumain 
    ul 
      li 
        a
          font-size 2em  
          padding 20px 35px 
      .dropdown
        .dropdown-menu          
          width 79.8% 
               
    .nica
      img
        height 110px
        top 0 

@media (min-width: 1300px)               
  .menumain 
    ul
      padding-left 2%
      li 
        a
          font-size 2em  
          padding 20px 41px  
    .nica
      img
        height 120px  
  .cuadrado
    a
      font-size 2.2em

@media (min-width: 1350px) 
  .menumain 
    ul      
      li 
        a
          font-size 2em  
          padding 20px 45px
      .dropdown
        .dropdown-menu          
          width 82%        

@media (min-width: 1400px) 
  .menumain 
    ul      
      li 
        a
          font-size 2em  
          padding 20px 52px                    




