@font-face {
  font-family: titulslide;
  src: url("../fonts/GreatVibes-Regular.ttf");
}
@font-face {
  font-family: titulmenu;
  src: url("../fonts/Polo Brush.ttf");
}
@font-face {
  font-family: subtitulslide;
  src: url("../fonts/Adventure.ttf");
}
body {
  margin: 0;
  padding: 0;
}
.sliderImg {
  height: 600px;
  width: 100%;
}
.titulSlider h2 {
  color: #324e9c;
  font-family: "Brush Script MT";
  font-size: 2em;
  margin: 0 auto;
  padding: 15px;
  position: absolute;
  text-align: right;
  top: 0;
  width: 100%;
  background: -webkit-gradient(linear, 80% 20%, 10% 21%, from(rgba(255,255,255,0.1)), to(rgba(255,255,255,0.2)));
  background: -moz-gradient(linear, 80% 20%, 10% 21%, from(rgba(255,255,255,0.1)), to(rgba(255,255,255,0.2)));
}
.logo img {
  height: 100px;
  padding-left: 20px;
  position: absolute;
  top: 0;
}
.titulSlideimg {
  color: #fff;
  font-family: titulslide;
  position: absolute;
  right: 0;
  text-align: center;
  top: 65%;
  width: 100%;
  background: -webkit-gradient(linear, 80% 20%, 10% 21%, from(rgba(0,0,0,0.3)), to(rgba(255,255,255,0.4)));
  background: -moz-gradient(linear, 80% 20%, 10% 21%, from(rgba(255,255,255,0.3)), to(rgba(255,255,255,0.4)));
}
.titulSlideimg h2 {
  font-size: 30pt;
}
.degra {
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(58,169,53,0.7)), color-stop(39%, rgba(249,178,51,0.7)), color-stop(54%, rgba(98,78,66,0.6)), color-stop(100%, rgba(66,41,24,0.9)));
  background: -moz-gradient(linear, left top, right top, color-stop(0%, #9dd53a), color-stop(39%, #e8ef5b), color-stop(54%, #80c217), color-stop(100%, #5e3c05));
  padding-bottom: 1px;
}
.navbar {
  border: 0px solid transparent !important;
}
.navbar-default {
  background-color: transparent !important;
  border-color: transparent !important;
}
.navbar-nav {
  margin: 0px !important;
  float: none !important;
}
.navbar-nav .open a {
  background-color: transparent !important;
}
/*.col-md-2, .col-md-6, .col-md-7, .col-md-3
  padding 0 !important*/
.menumain {
  margin: 0;
  padding: 0;
}
.menumain .navbar-collapse {
  margin: 0;
  padding: 0;
}
.menumain ul {
  margin: 0;
  padding: 0;
}
.menumain ul li {
  position: relative;
}
.menumain ul li a {
  color: #fff !important;
  font-family: titulmenu;
  font-size: 2.5em;
  padding: 20px 0px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
.menumain ul li a:hover {
  color: rgba(66,41,24,0.9) !important;
}
.menumain .nica img {
  height: 100px;
  position: absolute;
  right: 20px;
  top: 0;
  z-index: 4;
}
.nica {
  background: #ae3e17;
}
.about {
  background: #ebc011;
}
.explo {
  background: #55923b;
}
.plani {
  background: #0e527d;
}
.len {
  background: #cd5c1c;
}
.degrawhite {
  background: rgba(255,255,255,0.3);
}
.degraamarillo {
  background: rgba(194,211,65,0.4);
}
.blue {
  background: transparent;
}
.slidercenter span {
  color: #fff;
  font-family: titulslide;
  font-size: 3em !important;
  position: absolute;
  text-align: center;
  top: 74%;
  width: 80%;
  z-index: 999999;
}
.slidercenter img {
  width: 100%;
}
.row {
  margin: 0 !important;
}
.infoiz {
  padding: 10px;
  height: 100%;
}
.infoiz h2 {
  border-bottom: 2px solid #808080;
  font-family: titulslide;
  font-size: 3em;
  text-align: center;
}
.infoiz div {
  margin: 5px;
}
.infoiz iframe {
  margin-top: 20px;
  width: 100%;
}
.ruben h2 {
  font-family: titulslide;
  font-size: 3em;
}
.ruben p {
  text-align: justify;
}
.centermod {
  padding: 0 !important;
  margin: 0 !important;
}
.centermod .col-md-3 {
  margin: 0;
  padding: 0;
}
.anuncios {
  padding: 0;
  margin: 0;
}
.anuncios h2 {
  color: #fff;
  font-family: titulslide;
  font-size: 2.53em;
  text-align: center;
}
.anuncios .col-xs-3,
.anuncios .col-md-7 {
  margin: 0;
  padding: 0;
}
.anunciostitul {
  background: rgba(111,136,102,0.7);
  padding: 16px;
}
.cuadrado,
.cuadradoinfo {
  height: 100px;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}
.cuadradoinfo {
  background: #808080;
  margin-top: 10px;
}
.cuadrado a {
  bottom: 0;
  color: #fff;
  font-family: titulslide;
  font-size: 1.5em;
  left: 0;
  padding: 70px 40px 0px 6px;
  position: absolute;
  text-align: center;
  text-decoration: none !important;
}
.cuadrado a:hover {
  color: rgba(66,41,24,0.9) !important;
}
.infocenter iframe {
  height: 400px;
  width: 100%;
}
.infocenter h2 {
  border-bottom: 2px solid #808080;
  font-family: titulslide;
  font-size: 2.5em;
  text-align: center;
  width: 70%;
  margin: 0 auto;
  padding: 20px;
}
.infocenter p {
  font-size: 1.5em;
  text-align: center;
}
.clima img {
  margin-top: 20px;
  width: 100%;
}
.infoserver h2 {
  font-size: 2.1em;
}
.calendario img {
  width: 100%;
  height: 360px;
}
#panelResultados {
  margin: 0 auto;
  width: 20%;
}
footer {
  background: rgba(111,136,102,0.7);
  color: #fff;
  font-size: 2em;
  font-weight: bold;
  height: 4em;
  text-align: center;
/*  DEPARTAMENTOS */
}
.sliderdepto .titulSlider h2 {
  text-align: center;
}
.sliderdepto .logo img {
  top: 28px;
  padding: 0;
}
.infodep .centermod .col-md-9 {
  margin: 0;
  padding: 0;
}
.infodep .centermod .infocenter {
  padding: 0px 20px;
}
.infodep .centermod .titul {
  text-align: center;
  font-family: titulslide;
  border-bottom: 2px solid #808080;
}
.infodep .centermod p {
  text-align: justify;
}
/*  RESPONSIVE*/
@media screen and (min-width: 768px) {
  .titulSlider h2 {
    font-size: 2.5em;
    text-align: center;
  }
  .logo img {
    height: 10em;
  }
  .menumain ul li a {
    font-size: 1.5em;
    padding: 20px 13px;
  }
  .menumain ul .dropdown ul {
    margin: 0;
    padding: 0;
  }
  .menumain ul .dropdown .dropdown-menu {
    border: 0px transparent !important;
    width: 100px;
    left: 69px;
    background-color: rgba(235,192,17,0.5);
  }
  .menumain ul .dropdown .dropdown-menu li a {
    padding: 10px 13px;
    font-size: 1em;
  }
  .menumain ul .dropdown .dropdown-menu li a:hover {
    color: #008000 !important;
  }
  .menumain .nica img {
    height: 80px;
    top: 15px;
    right: -28px;
  }
  .cuadrado a {
    font-size: 2.5em;
    text-align: center;
  }
  .sliderdepto .titulSlider h2 {
    text-align: center;
    top: 60px;
  }
  .sliderdepto .logo img {
    top: 70px;
    padding: 0;
  }
  .sliderdepto .titulSlideimg {
    top: 70%;
  }
}
@media (min-width: 1020px) {
  .titulSlideimg {
    width: 40%;
  }
  .menumain ul li a {
    font-size: 2em;
    padding: 20px 17px;
  }
  .menumain ul .dropdown .dropdown-menu {
    width: 77%;
  }
  .centermod .anuncios {
    padding: 0;
    margin: 0;
  }
  .centermod .anuncios .col-md-7,
  .centermod .anuncios .col-md-5 {
    margin: 0;
    padding: 0;
  }
  .cuadrado a {
    font-size: 1.7em;
  }
  .informacion .col-md-3 {
    margin: 0;
    padding: 0;
  }
}
@media (min-width: 1200px) {
  .titulSlider h2 {
    font-size: 3em;
    text-align: center;
  }
  .logo img {
    height: 12em;
  }
  .menumain ul li a {
    font-size: 2em;
    padding: 20px 35px;
  }
  .menumain ul .dropdown .dropdown-menu {
    width: 79.8%;
  }
  .menumain .nica img {
    height: 110px;
    top: 0;
  }
}
@media (min-width: 1300px) {
  .menumain ul {
    padding-left: 2%;
  }
  .menumain ul li a {
    font-size: 2em;
    padding: 20px 41px;
  }
  .menumain .nica img {
    height: 120px;
  }
  .cuadrado a {
    font-size: 2.2em;
  }
}
@media (min-width: 1350px) {
  .menumain ul li a {
    font-size: 2em;
    padding: 20px 45px;
  }
  .menumain ul .dropdown .dropdown-menu {
    width: 82%;
  }
}
@media (min-width: 1400px) {
  .menumain ul li a {
    font-size: 2em;
    padding: 20px 52px;
  }
}
